[submodule "docs/_themes/sphinx_rtd_theme"]
	path = docs/_themes/sphinx_rtd_theme
	url = https://github.com/snide/sphinx_rtd_theme.git
[submodule "sputnik/lib/sockets-connect"]
	path = sputnik/lib/sockets-connect
	url = https://bitbucket.org/ruppells/sockets-connect.git
