[submodule "docs/_themes/sphinx_rtd_theme"]
	path = docs/_themes/sphinx_rtd_theme
	url = https://github.com/snide/sphinx_rtd_theme.git
[submodule "sputnik/sockets-connect"]
	path = sputnik/sockets-connect
	url = https://bitbucket.org/ruppells/sockets-connect.git
[submodule "docs/_build/dirhtml"]
	path = docs/_build/dirhtml
	url = https://github.com/Polytonic/Sputnik.git
	branch = gh-pages
