<!DOCTYPE html>
<html>
<head>
    <title>Sputnik Web Interface</title>

    <!-- Third party styles -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/css/ripples.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/css/material-wfont.min.css" rel="stylesheet">

    <!-- Sputnik styles -->
    <link rel="stylesheet" type="text/css" href="/static/style/style.css">
</head>
<body>

<div class="container well" id="sputnik-content-container">
    <a class="plain-link" href="">
        <div class="banner page-header no-border">
            <img class="banner-img" src="/static/assets/banner.png">
            <h1>Sputnik Web Interface</h1>
        </div>
    </a>

    <div id="controls">
        <a href="/" class="btn btn-sputnik-primary">Home</a>
        <a href="/add/" class="btn btn-sputnik-primary">Add Network</a>

        <div class="pull-right">
            <a href="/settings/" class="btn btn-sputnik-primary">Settings</a>
            <a href="/logout/" class="btn btn-sputnik-primary">Log Out</a>
        </div>
    </div>

    {% if connect_string %}
    <div class="sputnik-connect-string panel panel-default">
        {{ connect_string }}
    </div>
    {% end if %}

    {% block content %}{% end %}
</div>

<!-- Third party scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/js/ripples.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.1.5/js/material.min.js"></script>

<script>
    $(document).ready(function() {
        $.material.init();
    });
</script>

</body>
</html>
