{% include network-setup.html %}

<div class="sputnik-container panel panel-default">
    <div class="server-title panel-heading">
        <h3 class="panel-title">Network</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <label class="col-lg-2 control-label">Network Name</label>
            <div class="col-lg-10 sputnik-network-readonly">{{ network_name }}</div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Network Address</label>
            <div class="col-lg-10 sputnik-network-readonly">{{ network_address }}</div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Nickname</label>
            <div class="col-lg-10 sputnik-network-readonly">{{ network_nickname }}</div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Realname</label>
            <div class="col-lg-10 sputnik-network-readonly">{{ network_realname }}</div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Username (Ident)</label>
            <div class="col-lg-10 sputnik-network-readonly">{{ network_username }}</div>
        </div>

        <div class="pull-right">
            {% block network_controls %}{% end %}
        </div>
    </div>
</div>
